

#ingrediente {
    
        font-family: sans-serif;
        font-size: 24px;
        text-align: center;
        background-color: lightgreen;

}

#modo-de-preparo {
    text-align: center;
    background-color: lightskyblue;

    h2 {
        font-size: 48px;
        color: red;
        font-family: 'Times New Roman', Times, serif;
    }
}
.Imagem-pudim{
    border-radius: 10px;
    display: block;
    margin: auto;
    
}

